<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champion Mastery</title>
</head>
<body>

<script>
    new WOW().init();
</script>

<!-- The code below extends base.html with the base of our website and adds the search bar and 3 buttons for
Search, trending, and Random. This is also contained inside another row and column so the search bar does not extend
across the entire page. -->
{% extends 'base.html' %}
{% block search %}
<div class="container">
    <div class="row mb-4">
        <div class="col mx-5">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="input-search" placeholder="Search Summoner Name Here!" name="query">
                </div>
                <div class="text-center">
                    <button type="submit" formaction="/" class="btn btn-primary btn-lg btn-dark">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block gifs %}
<div class="container">
    <div class="jumbotron">
        <!-- The below code checks the "gifs" list returned by the render_template function in app.py. If the 
        list is empty then it displays an error message and asks the user to input a proper query. -->
        {% if summoner_name == None %}
        <h1 style="font-family: 'Manjari', sans-serif; text-align: center; color: white">Summoner not found! Try another search query!</h1>
        {% endif %}

        <!-- The code below uses Bootstrap to create a 3 by 3 row and column grid to display each of the nine
        GIFs that are loaded when either a query is searched for or the trending/random button is hit.
        Each grid entry loads one GIF image from the list of GIFs returned by the render_template function in app.py -->
        <h1 class="display-4">{{ summoner_name }}</h1>
        <hr class="my-4">
        <div class="card-group animated wow slideInUp">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Level</h2>
                    <hr class="my-4">
                    <h4>{{ level }}</h4>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Queue Type</h2>
                    <hr class="my-4">
                    <h4>{{ queue_type }}</h4>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <p>&nbsp;</p>
                <img class="card-img-top mx-auto" style="width: 120px;height: 120px;" src='../static/images/ranked-emblems/{{ rank_img }}' alt=" ">
                <div class="card-body">
                    <h2 class="card-title">Rank</h2>
                    <hr class="my-4">
                    <h4>{{ tier }} {{ rank }}, {{ league_points }} LP</h4>
                </div>
            </div>
        </div>
        <div class="card-group animated wow slideInUp">
            <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">Wins</h2>
                        <hr class="my-4">
                        <h4>{{ wins }}</h4>
                    </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Losses</h2>
                    <hr class="my-4">
                    <h4>{{ losses }}</h4>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Winrate</h2>
                    <hr class="my-4">
                    <h4>{{ winrate }}%</h4>
                </div>
            </div>
        </div>

        {% for champ in champion_name %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="card-group animated wow slideInUp">
            <div class="card text-center" style="width: 18rem;">
                <p>&nbsp;</p>
                <img class="card-img-top mx-auto" style="width: 120px;height: 120px;" src='../static/images/champion-img/{{ champion_img[loop.index0] }}' alt=" ">
                <div class="card-body">
                    <h2 class="card-title">Champion</h2>
                    <hr class="my-4">
                    <h4>{{ champ }}</h4>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <p>&nbsp;</p>
                <img class="card-img-top mx-auto" style="width: 120px;height: 120px;" src='../static/images/mastery-lvl/{{ mastery_img[loop.index0] }}' alt=" ">
                <div class="card-body">
                    <h2 class="card-title">Mastery Level</h2>
                    <hr class="my-4">
                    <h4>{{ mastery_level[loop.index0] }}</h4>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Mastery Points</h2>
                    <hr class="my-4">
                    <h4>{{ mastery_points[loop.index0] }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

</body>
</html>
